/* CSS Reset  */
* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background: url('bgImg.jpg') no-repeat center center/cover;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(250px,1fr));
}

@media only screen and (max-width: 768px) {
    body {
      background: url('bgImg.jpg') no-repeat center center/cover ;
      background-size: cover;
      background-attachment: scroll;
    }
}
  
.mainB{
    grid-area: mainB;
}
.main {
    width: 411px;
    height: 574px;
    grid-area: main;
    position: relative;
    bottom: -16%
}
.mainA{
    grid-area: mainA;
}
/* .cont {
} */

.main h1 {
    font-size: 2.8rem;
    padding-right: 285px;
    margin-bottom: 38px;
    border-bottom: 3px solid purple;
}

.box {
    /* width: 402px; */
    border-bottom: 3px solid purple;
    margin: 25px 0px;
}

.box>i {
    margin: 0px 12px;
    cursor: pointer;
}

.box>input {
    width: 300px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 4px 10px;
    padding-left: 0px;
}

.btn {
    background: none;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 100ms;
    margin-top: 10px;
}

.btn:hover {
    color: purple;
    background: white;
    transform: scale(1.1);
}

.main h4 {
    cursor: pointer;
}

#newUser {
    position: relative;
    left: 150px;
    bottom: 20px;
}

.trans:hover {
    filter: invert(50%);
}

#openEye {
    display: none;
    padding: 0px 1px;
    float: right;
}

#closeEye {
    float: right;
}
