/* CSS Reset  */
* {
    margin: 0px;
    padding: 0px;
    color: white;
}

html {
    /* overflow: hidden; */
    background: url('bgImg.jpg') no-repeat center center/cover fixed;
}
body{
    overflow: hidden;
}
.main {
    width: 402px;
    height: 300px;
    margin:auto;
    position: relative;
    top:30vh;
}

/* .cont {
} */

.main h1 {
    font-size: 2.8rem;
    padding-right: 285px;
    margin-bottom: 38px;
    border-bottom: 3px solid purple;
}

.box {
    border-bottom: 3px solid purple;
    margin: 25px 0px;
}

.box>i {
    margin: 0px 12px;
    cursor: pointer;
}

.box>input {
    width: 300px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 4px 10px;
    padding-left: 0px;
}

.btn {
    background: none;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 100ms;
    margin-top: 10px;
}

.btn:hover {
    color: purple;
    background: white;
    transform: scale(1.1);
}

.animate {
    width: 380px;
    height: 3px;
    margin-bottom: 40px;
    background-color: #000;
}

.animat {
    display: block;
    height: 100%;
    width: 30px;
    background-color: blanchedalmond;
    animation: anim 3s linear 0s infinite;
}

@keyframes anim {
    to {}

    from {
        transform: translateX(350px);
    }
}

.main h4 {
    cursor: pointer;

}

#newUser {
    position: relative;
    left: 150px;
    bottom: 20px;
}

.trans:hover {
    filter: invert(50%);
}

#openEye {
    display: none;
    padding: 0px 1px;
}